.thankyou img{
    margin-left: 30%;
    position: relative;
}
.thankyou h2{
    margin-left: 40%;
    position: absolute;
    font-size: 45px;
    color:  #FF385CAD;
    margin-top: -20%;
    text-align: center;
}
.btuun{
    margin-left: 50%;
    background-color: red;
    color: white;
    border: none;
}